@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --font-normal: 'Roboto', sans-serif;
    --color-primary: #101010;
    --color-secondary: #191919;
    --color-btn: #5700f9;
    --color-white: #ffffff;
    --color-discord: #5865F2;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
body{
    background: var(--color-primary);
    color: var(--color-white);
    overflow-x: hidden;
}
body.modal_opened{
    overflow-y: hidden;
}
body.modal_opened .about{
    margin-top: 5rem;
}
.btn{
    padding: .8rem 1.5rem;
    background: var(--color-btn);
    border-radius: 100px;
    font-size: 1.3rem;
    color: var(--color-white);
    border: 3px solid transparent;
    margin-top: 1rem;
    display: inline-block;
    transition: .2s;
    outline: 4px solid transparent;
    cursor: pointer;
}
.btn:hover{
    background: var(--color-primary);
    border: 3px solid var(--color-btn);
}
.btn:focus{
    outline: 4px solid var(--color-btn);
    border: 3px solid var(--color-primary);
}
p{
    font-family: var(--font-normal);
}
.special_txt{
    color: var(--color-discord);
}
/* ========== ABOUT ============= */
.about{
    width: 100%;
    background: var(--color-secondary);
    padding: 1rem;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .2s;
}
.about_main{
    display: flex;
    flex-flow: row;
    gap: 4rem;
    justify-content: center;
}
.about_main-img,
.about_main-txt{
    flex: 1;
}
.about_main-img{
    display: flex;
    justify-content: flex-end;
}
.img_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-width: 410px;
}
.img_container img{
    width: 100%;
}
.about_main-txt{
    display: flex;
    flex-flow: column;
    gap: 1.2rem;
}
.about_main-txt h2{
    font-size: 3rem;
}
.about_main-txt h5{
    font-size: 1.5rem;
}

/* ============ PROYECTS ============= */
.proyects{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 2rem;
}
.proyects > h2{
    font-size: 3rem;
}
.proyects_main{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
}
.cards{
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background: var(--color-secondary);
    padding: 2rem 1rem;
    border-radius: 20px;
    gap: 1rem;
}
.cards_icon{
    font-size: 3.5rem;
    display: flex;
    color: rgba(255, 255, 255, .2);
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.cards_txt{
    display: flex;
    flex-flow: column;
    gap: .5rem;
}
.cards_txt h5{
    font-size: 1.8rem;
    text-align: center;
}
/* ============ FOOTER ========= */
.footer{
    width: 100%;
    background: var(--color-secondary);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 1rem;
}
.footer_socials{
    display: flex;
    gap: 1rem;
}
.footer_socials a{
    padding: 1.5rem;
    transition: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer_socials a i{
    position: absolute;
}
.footer_socials a:hover{
    transform: scale(1.15);
}

@media only screen and (max-width: 960px){
    .about_main{
        gap: 1rem;
    }
    .img_container{
        min-width: inherit;
        width: 100%;
    }
}
@media only screen and (max-width: 690px){
    .about_main{
        flex-flow: column;
        align-items: center;
    }
    .img_container{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: inherit;
    }
    .img_container img{   
        width: auto;
        position: absolute;
        height: 100%;
        margin-right: 20px;
    }
    .about_main-txt h2{
        text-align: center;
        font-size: 2.3rem;
    }
    .about_main-txt h5{
        font-size: 1.4rem;
    }
    .about_main-txt div{
        display: flex;
        justify-content: flex-end;
    }
    .about_main-img{
        padding-right: 0;
    }
}
@media only screen and (max-width: 440px){
    .img_container{
        width: 150px;
        height: 150px;
    }
    .img_container img{
        margin-right: 14px;
    }
    .about{
        min-height: 65vh;
    }
    .about_main-txt h5{
        text-align: center;
    }
    .about_main-txt{
        gap: 2rem;
    }
    .proyects_main{
        padding: .6rem;
    }
    .cards{
        max-width: inherit;
    }
}